body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    float: left;
}

.half-width img {
    width: 100%;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

.link-botton {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(lightsalmon, tomato);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.middle-banner {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.expariance {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-e {
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
}

#full-s {
    border-left: 8px solid;
    border-image: linear-gradient(160deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#baby-s {
    border-left: 8px solid;
    border-image: linear-gradient(180deg, blue, aqua);
    border-image-slice: 1;
}